// COLORS
$color-white: #fff;
$color-black: #000;
$color-black-light: #323B3C;
$color-grey-light: #516163;

$color-primary-light: #E5394F;
$color-primary-dark: #A6293B;
// $color-primary-dark-two: rgb(180, 23, 47);
$color-primary-dark-two: rgb(240, 23, 55);


// FONT VARIABLES
$font-primary: 'PT Sans', sans-serif;
$font-heading: 'PT Sans Narrow', sans-serif;