// COLORS
$color-white: #fff;
$color-black: #000;
$color-black-light: #323B3C;
$color-grey-light: #f7f7f7;
$color-grey-light-2: #777;
$color-grey-light-4: #ccc;


$color-primary-light: #E5394F;
$color-primary-dark: #A6293B;
// $color-primary-dark-two: rgb(180, 23, 47);
$color-primary-dark-two: rgb(240, 23, 55);

// BOX COLORS
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-green-light: #01FF70;
$color-green-dark: #2ECC40;

// FONT VARIABLES
$font-primary: 'Karla', sans-serif;
$font-heading: 'Montserrat', sans-serif;