.about {
  margin-top: -25rem;
  padding: 15rem 5vw;

  display: flex;
  flex-direction: column;

  &__host {
    margin: 5rem 0;
    min-height: 40rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(55vh, 1fr);
    grid-gap: 1rem;

    @include respond(tab-land) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      
      // changing order of the grid for second part
      &--part2 div:nth-of-type(1) {
        order:2;
      }

      &--part2 div:nth-of-type(2) {
        order:1;

        @include respond(tab-land) {
          width: 60%;
          margin: 0 auto;
        }

        @include respond(phone) {
          width: 90%
        }

      }
    }

    @include respond(tab-port) {
      margin: 1rem 0;
    }


    &__pic {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      align-items: center;

      // background-image: linear-gradient(rgba($color-primary-light, .5), rgba($color-primary-light, .5)), url(../img/background_three.jpeg);
      background-size: cover;
      background-position: center;

      position: relative;

      @include respond(tab-land) {
        width: 65%;
        margin: 0 auto;
      }

      @include respond(phone){
        width: 100%;
      }

      &--one {
        width: 100%;
        grid-row: 1/5;
        grid-column: 3/7;

        box-shadow: 0 2rem 5rem rgba(#000, .2);

        z-index: 1;
        
        &--art {
          grid-column: 1/5;
          grid-row: 1/4;
        }
      }

      &--two {
        width: 115%;
        grid-row: 4/7;
        grid-column: 4/7;
        z-index: 3;

        box-shadow: 0 2rem 5rem rgba(#000, .2);

        @include respond(tab-land) {
          grid-column: 2/5;
        }

        &--bar {
          grid-row: 4/7;
          grid-column: 3/7;
        }
      }

      &--three {
        width: 100%;
        grid-column: 1/4;
        grid-row: 1/4;

        position: absolute;
        top: -62%;

        z-index: 2;

        @include respond(tab-land) {
          top: -15%;
        }

        @include respond(phone) {
          top: -40%;
        }

        &--stylish {
          top: -100%;
          left: 110%;

          @include respond(tab-land) {
            top: -90%;
            left: 115%;
          }

          @include respond(phone){
            left: 95%;
            width: 75%;
          }
        }
      }


      &--line {
        grid-row:4/7;
        grid-column: 1/2;
        transform: rotate(-90deg);
        opacity: .5;
        // transform-origin: left top 0;
      }
    }


    &__cta {
      padding: 5rem 4vw;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      /*
      display: grid;
      align-content: center;
      justify-items: start;
      */
    }

  }

  &__guest {
    border: 3px solid black;
  }
}

.vertical-line {
  height: 100%;
  grid-row: 1/6;
  grid-column: 2/7;
  border-left: 1rem solid $color-primary-dark-two;
  border-bottom: 1rem solid $color-primary-dark-two;

  &--two {
    grid-row: 2/6;

    @include respond(tab-land) {
      grid-column: 1/7;
    }

    @include respond(phone) {
      grid-column: 2/7;
    }
  }
}
