.footer {
  background-color: $color-black-light;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 2rem;

    @include respond(phone) {
      flex-wrap: wrap;
    }
  }

  &__text {
    color: $color-white;
    text-align: center;

    @include respond(phone) {
      order: 1;
    }
  }

  &__list {
    // margin-right: 2rem;
    justify-content: space-between;
  }

  &__item {
    margin-right: 3rem;
    // border: 3px solid white;
    // border-radius: 50%;

    &:last-child {
      margin: 0;
    }
  }
}

// .user-nav__icon--footer {
//   height: 2rem;
// }
