
.header {
  position: relative;
  // polygon(x y, x y, x y, x y)
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  max-width: 120rem;

  &__text {
    font-family: $font-heading;
    z-index: 5;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

    text-align: center;
    color: $color-white;
  }

    &__tagline {
      margin-top: 5rem;
  }

  &__slideshow,
  &__slideshow:after {
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &__slideshow:after {
    content: '';
    background: transparent url(../img/pattern.png) repeat top left;
  }

  &__item {
    & span {
      position: absolute;
      top: 0px;
      left: 0px;
      
      width: 100%;
      height: 100%;
  
      color: transparent;
      z-index: 0;
      opacity: 1;

      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;

      // animation: imageAnimation 40s linear infinite 0s;

    }
  }
}

.location {
  color: $color-white;

  &--black {
    color: $color-black;
  }
}