// MOBILE NAV ICON
.navigation {

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index:10000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    display: none;

    text-align: center;
    cursor: pointer;
    
    @include respond(phone) {
      display: block;
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ .nav {
    transform: translateX(0);
  }

  // ICON

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {top: -.8rem;}
    &::after {top: .8rem;}
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.nav {
  font-size: 1.4rem;
  height: 7rem;
  // background-color: $color-white;
  // border-bottom: 1px solid $color-black-light;
  position: relative;
  z-index: 10000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  max-width: 120rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;

    background-color: $color-primary-dark;
    text-transform: uppercase;
    
    height: 100vh;
    width: 70vw;
    // border: 3px solid white;

    position: fixed;

    transform: translateX(-100%);

    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.nav-text {
  display: none;

  @include respond(phone) {
    display: block;
  }
}

// LOGO
.logo {
  height: 5rem;
  margin-left: 2rem;
  // border: 2px solid white;

  @include respond(phone) {
    margin: 0 auto;
    height: 8rem;
  }
}

// USER NAVIGATION
.user-nav {
  align-self: stretch;
  
  display: flex;
  align-items: center;

  & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;

      @include respond(phone) {
        width: 100%;
        justify-content: center;
      }
  }

  @include respond(phone) {
    flex-direction: column;
    align-items: left;
    height: 80%;
    width: 100%;
  }

  &__icon-box {
      position: relative;

      transition: all .2s;

      &:hover {
        background-color: rgba($color-primary-light, .3);
      }
      

      @include respond(phone) {
        width: 100%;
        justify-content: center;
        opacity: .7;
        // border-top: 1px solid white;

        &:hover {
          opacity: 1;
          background-color: $color-primary-light;
        }
      }
  }

  &__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-white;
  }

  &__notification {
      font-size: .8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: $color-primary-dark-two;
      color: $color-white;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      @include respond(phone) {
        top: 2rem;
        right: 5rem;
      }
  }

  &__user {
    transition: all .2s;

    &:hover {
      background-color: rgba($color-primary-light, .3);
    }

    @include respond(phone) {
      // border-top: 1px solid white;
      // border-bottom: 1px solid white;
      opacity: .7;

      &:hover {
        opacity: 1;
        background-color: $color-primary-light;
      }
    }

    
  }

  &__user-photo {
      height: 3.75rem;
      border-radius: 50%;
      border: 2px solid $color-primary-light;
      margin-right: 1rem;
  }

  &__user-name {
    color: $color-white;
    margin-left:10px;
  }

}