.button {
  display: inline-block;

  color: $color-primary-light;
  font-size: 1.5rem;

  border: 2px solid $color-primary-light;

  padding: .8rem 3rem;
  margin-top: 2rem;

  transition: all .2s;

  &:hover {
    background-color: $color-primary-light;
    color: $color-white;
  }

  @include respond(phone) {
    background-color: $color-primary-light;
    color: $color-white;
    margin-top: 1rem;
  }

}

// EVENTS BUTTON
.btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all .2s;
      position: relative;
      // font-size: $default-font-size;

      //Change for the <button> element
      border: none;
      cursor: pointer;
  }
  
  &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);

      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  }
  
  &:active,
  &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
  
  &--white {
      background-color: $color-grey-light;
      color: $color-primary-light;
      font-size: 1.3rem;

      &::after {
          background-color: $color-grey-light;
      }

      &-green {
        color: $color-green-dark;
      }

      &-secondary {
        color: $color-secondary-dark;
      }

      &-tertiary {
        color: $color-tertiary-dark;
      }
  }

  // &--green {
  //     background-color: $color-primary;
  //     color: $color-white;

  //     &::after {
  //         background-color: $color-primary;
  //     }
  // }
  
  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }
  
  &--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
  }
}

// .btn-text {
//   &:link,
//   &:visited {
//       font-size: $default-font-size;
//       color: $color-primary;
//       display: inline-block;
//       text-decoration: none;
//       border-bottom: 1px solid $color-primary;
//       padding: 3px;
//       transition: all .2s;
//   }

//   &:hover {
//       background-color: $color-primary;
//       color: $color-white;
//       box-shadow: 0 1rem 2rem rgba($color-black, .15);
//       transform: translateY(-2px);
//   }

//   &:active {
//       box-shadow: 0 .5rem 1rem rgba($color-black, .15);
//       transform: translateY(0);
//   }
// }

////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: $color-primary-light;
    font-size: inherit;
    padding-bottom: .2rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: .3rem;
        transition: margin-left .2s;
    }

    &:hover {
        color: $color-black-light;

        span {
            margin-left: .8rem;
        }
    }
}