// ANIMATION FOR THE HEADER SLIDESHOW
.header {
  &__item:nth-child(1) span {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.3),
        rgba($color-primary-dark, 0.3)),
    url(../img/background_four.jpg);
  }

  &__item:nth-child(2) span {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.3),
        rgba($color-primary-dark, 0.3)),
    url(../img/background_two.jpeg);
    animation-delay: 15s;
  }

  &__item:nth-child(3) span {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.3),
        rgba($color-primary-dark, 0.3)),
    url(../img/background_five.jpg);
    animation-delay: 30s;
  }

  &__item:nth-child(4) span {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.3),
        rgba($color-primary-dark, 0.3)),
    url(../img/background_one.jpeg);
    animation-delay: 45s;
  }

  // &__item:nth-child(2) div {
  //   animation-delay: 15s;
  // }

  // &__item:nth-child(3) div {
  //   animation-delay: 30s;
  // }

  // &__item:nth-child(4) div {
  //   animation-delay: 45s;
  // }
}

// ANIMATION FOR SLIDESHOW IMAGES
@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  30% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 0 }
}

