*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  background-color: #a6293b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e5394f' fill-opacity='0.39'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
  font-family: $font-primary;
  color: $color-black;

  font-weight: 400;
  line-height: 1.6;

  margin: 3rem;

  overflow-x: hidden;

  @include respond(phone) {
    margin: 0;
  }
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(6, min-content);
  max-width: 120rem;
  margin: -7rem auto 0 auto;
  background-color: $color-white;

  @include respond(phone) {
    margin: 0 auto;
  }

  @include respond(tab-port) {
    transform: translateX(0);
  }
}

.wrapper {
  display: grid;
  max-width: 120rem;
  grid-template-rows: 1fr;
  margin: -7rem auto 0 auto;
  background-color: $color-white;
  background: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.6),
    rgba($color-primary-dark-two, 0.8)
  );

  @include respond(phone) {
    margin: 0 auto;
  }
}

.add_margins {
  transform: translateX(70%);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-black;
}

button {
  background: none;
  outline: none;
  border: none;
  color: $color-white;
  font-size: 1.5rem;
  cursor: pointer;
}
